$primary-color: #2196F3;
$dark-primary-color: #1976D2;
$light-primary-color: #BBDEFB;
$divider-color: #B6B6B6;

$accent-color: #FF5252;

$text-color: white;
$primary-text: #212121;
$secondary-text: #727272;

$body-bg: hsl(204, 12%, 25%);

$theme-body-bg: #FAFAFA;
$theme-body-border-color: #DCDCDC;
$theme-body-li-border-color: #DADADA;
