$primary-color:               #795548;
$dark-primary-color:          #5D4037;
$light-primary-color:         #D7CCC8;

$accent-color:                #FF5722;

// Other, non-color scheme related colors:
//
$text-color:                  white;
$primary-text:                #212121;
$secondary-text:              #727272;
$divider-color:               #B6B6B6;

$body-bg:                     #384147;

$theme-body-bg:               #FAFAFA;
$theme-body-border-color:     #DCDCDC;
$theme-body-li-border-color:  #DADADA;
