// $primary-color:               #2196F3;
// $dark-primary-color:          #1976D2;
// $light-primary-color:         #BBDEFB;
//
// $accent-color:                #FF5252;

$hue:                         207;

$primary-color:               hsl($hue, 100%, 50%);
$dark-primary-color:          scale-color($primary-color, $lightness: -20%);
$light-primary-color:         scale-color($primary-color, $saturation: -40%, $lightness: 70%);

$accent-color:                complement($primary-color);

$text-color:                  white;
$primary-text:                #212121;
$secondary-text:              #727272;
$divider-color:               #B6B6B6;

$body-bg:                     #384147;

$theme-body-bg:               #FAFAFA;
$theme-body-border-color:     #DCDCDC;
$theme-body-li-border-color:  #DADADA;
