#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br
      %br
      %h1.header Software Development Conference
      .row
        %h5.col.s12 Sat 30 May 2015
      .row
        =link_to 'Register Now', '#', class: 'download-button btn-large waves-effect waves-light'
      %br
      %br
  .parallax=image_tag 'background1.jpg'

