---
css: demo
---

.theme-container
  .theme
    .theme__status
    .theme__toolbar
      .theme__toolbar-navigation
        %i.mdi-navigation-more-vert.more
        %i.mdi-navigation-menu.back
      .theme__toolbar-headings
        %h1 Palette preview
        %h2 Full Palette colors below
      .theme__button
        %i.mdi-action-grade
    .theme__body
      %ul
        %li
          %i.mdi-action-label
          %p
            Label
            %br
              %em April 21st
        %li
          %i.mdi-action-schedule
          %p
            Label
            %br
              %em April 19th
