---
css: demo
title: NextBuild
subtitle: Software Development Conference
talks:
  - { subject: 'Reactive AngularJS', time: '11:50 - 12:20' }
  - { subject: 'Make color schemes a no-brainer with Sass', time: '13:40 - 14:10', current: yes }
  - { subject: 'React/CQRS', time: '14:25 - 14:55' }
  - { subject: 'Reactive Frontend', time: '15:00 - 15:30' }
---

.theme-container
  .theme
    .theme__status
    .theme__toolbar
      .theme__toolbar-navigation
        %i.mdi-navigation-more-vert.more
        %i.mdi-navigation-menu.back
      .theme__toolbar-headings
        %h1= current_page.data.title
        %h2= current_page.data.subtitle
      .theme__button
        %i.mdi-action-grade
    .theme__body
      %ul
        - current_page.data.talks.each do |talk|
          %li{class: talk.current && 'current'}
            %i{class: (talk.current && 'mdi-action-label') || 'mdi-action-schedule'}
            %p
              = talk.subject
              %br
                %em= talk.time
