%nav.light-blue.lighten-1{:role => "navigation"}
  .nav-wrapper.container
    =link_to 'NextBuild', '#', class: 'logo-container brand-logo'
    %ul#nav-mobile.right.hide-on-med-and-down
      - %w(About News Location Contact Register).each do |item|
        %li= link_to item, '#'

#index-banner.section.no-pad-bot
  .container
    %br
    %br
    %h1.header.center.orange-text Software Development Conference
    .row.center
      %h5.header.col.s12.light Sat 30 May 2015
    .row.center
      =link_to 'Register Now', '#', class: 'download-button btn-large waves-effect waves-light orange'
    %br
    %br
.container
  .section
    / Icon Section
    .row
      - ['image-flash-on', 'social-group', 'action-settings'].each do |fig|
        .col.s12.m4
          .icon-block
            %h2.center.light-blue-text
              %i(class="mdi-#{fig}")
            %h5.center= lorem.words 4
            %p.light= lorem.paragraph

%footer.page-footer.orange
  .container
    .row
      .col.l6.s12
        %h5.white-text Company Bio
        %p.grey-text.text-lighten-4 We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
      .col.l3.s12
        %h5.white-text Settings
        %ul
          %li
            %a.white-text{:href => "#!"} Link 1
          %li
            %a.white-text{:href => "#!"} Link 2
          %li
            %a.white-text{:href => "#!"} Link 3
          %li
            %a.white-text{:href => "#!"} Link 4
      .col.l3.s12
        %h5.white-text Connect
        %ul
          %li
            %a.white-text{:href => "#!"} Link 1
          %li
            %a.white-text{:href => "#!"} Link 2
          %li
            %a.white-text{:href => "#!"} Link 3
          %li
            %a.white-text{:href => "#!"} Link 4
  .footer-copyright
    .container
      Made by
      %a.orange-text.text-lighten-3{:href => "http://materializecss.com"} Materialize
