.theme__toolbar {
  @include background(linear-gradient(rgba($dark-primary-color, 0.35), rgba($primary-color, 0.35)), url('http://lorempixel.com/g/420/240'));
  background: {
    repeat: no-repeat;
    color: $primary-color;
  }
  height: 240px+100px;
  position: relative;
  @include box-shadow(rgba(black, 0.2) 0 2px 6px);
}

.theme__toolbar-navigation {
  i {
    @include transition(all 200ms ease);
    color: $text-color;
    font-size: 26px;
    position: absolute;
    cursor: pointer;
    &:hover {
      @include rotate(360deg);
    }
  }
  .more {
    top: 20px;
    right: 12px;
  }
  .back {
    top: 20px;
    left: 20px;
  }
}

.theme__toolbar-headings {
  padding: 258px 20px 0 75px;
  h1 {
    color: $text-color;
  }
  h2 {
    color: $light-primary-color;
  }
}
